/* General Body*/

body {
	font-family: "Nunito", sans-serif;
}

/*body end*/

/* Navbar start */

/* bootstrap fixes*/
.navbar {
	background-color: #9fc088;
}
.btn {
	background-color: #f5f5f5 !important;
	width: 90px !important;
}
.btn:hover {
	background-color: #009c2f !important;
}

#navbarScroll {
	margin-right: 8vw;
	/* this pushes the dropdown to the left*/
}

.navbar-nav.me-auto.my-2.my-lg-0.navbar-nav-scroll {
	margin-left: 85%;
	/* this pushes the dropdown to the left*/
}

.navbar-collapse.collapse.show,
.navbar-collapse.collapsing {
	text-align: end;
}
#navbarHide {
	display: none;
}

.navbar-nav.me-auto.my-2.my-lg-0.navbar-nav-scroll {
	--bs-scroll-height: 200px !important ;
	/* this fixes strange problem with dropdown in the navbar*/
}

/* Navbar end */

/* Full Screen Section start */

.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
	color: #000000 !important;
	text-align: center;
	/*background hero image*/
	background-image: radial-gradient(
			circle,
			rgba(255, 255, 255, 0) 0%,
			rgba(0, 0, 0, 0.6371746845425867) 96%
		),
		url("../img/parks/victoria/carousel/victoria_park.jpeg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#heading-primary {
	color: #f5f5f5;
	font-size: 70px;
	position: relative;
}

#peopleMakeGlasgowLogo {
	max-width: 200px;
	min-width: 100px;
	z-index: 1;
	position: absolute;
	margin-top: 15vh;
	margin-left: 29vw;
	-webkit-box-shadow: 10px 7px 25px 5px rgba(0, 0, 0, 0.52);
	box-shadow: 10px 7px 25px 5px rgba(0, 0, 0, 0.52);
}

/* Full Screen Section end */

/* Discover the best part of Glasgow Section start */
.display-5 {
	color: #cc704b;
}

/* Discover the best part of Glasgow Section end */

/* Where to go Section start */
.grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 25px;
}

.parkCard {
	position: relative;
	width: 100%;
}

.parkCard-img-top {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.parkCard-link {
	height: 100%;
}

.parkCard-link:hover > .parkCard-body {
	background-color: rgba(0, 0, 0, 0.75);
}

.parkCard-body {
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
}

/* Where to go Section end */

/* Newsletter Styles */
.newsletter {
	background-color: rgb(228, 237, 222);
	padding: 0 10%;
	margin-bottom: 50px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-group {
	display: flex;
	align-items: center;
	width: 70%;
}

.form-control {
	border: 1px solid #000;
}

.checkbox {
	width: 20px;
	height: 20px;
}

.btn-secondary {
	background-color: #5e493b !important;
	border: solid 1px #5e493b;
	width: 20% !important;
}

.btn-secondary:hover {
	background-color: #3f3127 !important;
	border: solid 1px #3f3127;
}

/* Newsletter end */

/* Footer start */
html {
	position: relative;
	min-height: 100%;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	/* Set the fixed height of the footer here */
	background-color: #f5f5f5;
	line-height: 50px;
	/* Vertically center the text there */
	color: grey;
	text-align: center;
	margin-top: 100px;
}
#socialLinks {
	padding: 50px 15%;
	background-color: #ffffff;
	color: #000000;
}
#bottomFooter {
	background-color: #604126;
	color: #f5f5f5;
}
.socialsAlinks {
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	text-align: left;
}
.socialsAlinks:hover {
	color: #614124 !important;
}
.linksList {
	line-height: 20px;
	list-style: georgian;
}
.socialsAlinkspics {
	width: 25px;
}

.socialsAlinkspicslinks {
	text-decoration: none;
}

.CampaignPics {
	width: 100px;
	margin-top: 4px;
}

@media only screen and (max-width: 600px) {
	.footer {
		font-size: 10px;
		/*this stops the text overflowing at small sizes*/
	}
}

/* Footer end */

/* Media Queries */
@media only screen and (max-width: 1200px) {
	.grid {
		grid-template-columns: repeat(3, 1fr);
	}
	#heading-primary {
		font-size: 60px;
	}
}

@media only screen and (max-width: 992px) {
	.grid {
		grid-template-columns: repeat(2, 1fr);
	}
	.parkCard {
		min-height: 280px;
	}
	.d-flex {
		display: none !important;
	}

	#heading-primary {
		font-size: 55px;
	}

	.navbar-brand {
		margin-left: 0;
	}
	#peopleMakeGlasgowLogo {
		max-width: 120px;
		position: absolute;
		margin-top: 20vh;
		margin-left: 28vw;
	}
	#navbarHide {
		display: block;
	}
	#navbarScroll {
		margin-right: 0vw;

		/* this pushes the dropdown to the left*/
	}

	#dropdownHide {
		display: none;
		/*hides dropdown in collapsed navbar */
	}
	/*newsletter*/
	#newsletter {
		margin-bottom: 100px;
		text-align: center;
		background-color: #edf3e8;
		padding: 50px;
	}
	#indexForm {
		text-align: left;
	}
	#formSumbitButton {
		background-color: #916c4d !important;
		padding: 10px 40px 10px 20px;
	}
}

@media only screen and (max-width: 600px) {
	#heading-primary {
		font-size: 30px;
	}
	#peopleMakeGlasgowLogo {
		max-width: 100px;
		position: absolute;
		margin-top: 20vh;
		margin-left: 20vw;
	}
	.form-group.mb-4 {
		width: 100%;
	}
	.btn.btn-secondary {
		width: 100% !important;
	}
	.container-sm.px-5.py-5 {
		display: none;
	}
	.newsletter.py-5 {
		display: none;
	}
	.footer {
		display: none;
	}
	.hero {
		height: calc(100vh - 84px);
	}
}
