* {
	margin: 0;
	padding: 0;
}

/* General Body*/

body {
	font-family: "Nunito", sans-serif;
}

/*body end*/

/* Navbar start */
.navbar {
	background-color: #9fc088;
}
.navbar {
	flex-wrap: nowrap;
}
.search-container {
	width: unset;
}

.navbar-brand {
	width: 100%;
	text-align: center;
}

.logo-img {
	width: 38.8px;
	height: 58.2px;
}

.nav-link {
	color: #496435;
}
.nav-link:active {
	color: #496435;
}
.nav-link:hover {
	color: #496435;
}
.nav-link:focus {
	color: #496435;
}

.dropdown-menu.show {
	left: -75px;
}

/* Navbar end */

/* carousel start */
.title-carousel {
	padding-left: 5%;
}
.img-no-carousel {
	display: none;
}
.carousel,
.carousel-inner {
	height: 400px;
}

.carousel-img {
	height: 500px;
	width: 100%;
	object-fit: cover;
}

/* carousel end */

/* Information start */
.accordion-button:not(.collapsed) {
	background-color: hsl(95, 31%, 90%);
	color: #496435;
}

.accordion-button:focus {
	border-color: hsl(95, 31%, 90%);
	box-shadow: 0 0 0 0.25rem hsl(95, 31%, 90%);
}

.accordion-button:not(.collapsed)::after {
	background-image: url("./assets/arrow.svg");
}

.info-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 75px;
}

.info-img {
	clip-path: circle(150px at 50% 50%);
	width: 100%;
}

.info-li {
	list-style: unset;
}

/* Information end */

/* Activities Section Start */
.whatsOn {
	width: 75%;
	margin: auto;
	padding-bottom: 100px;
}
.total-activities {
	padding: 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 25px;
}
#myInput {
	display: none;
	width: 100%;
	margin: 0;
}
li {
	list-style-type: none;
}

span {
	display: none;
}
.card-img {
	height: 200px;
	object-fit: cover;
	border-radius: unset;
	overflow: hidden;
}
.card-title {
	margin: 0;
	font-weight: 700;
}
.card-body {
	display: flex;
	flex-direction: column;
}

.card-description {
	height: 70px;
}
.btn-card {
	width: 100%;
	background-color: #9fc088;
}
.btn-card:hover {
	background-color: #729659;
}
/* Activities Section end*/

/* Newsletter Styles */
.newsletter {
	background-color: rgb(228, 237, 222);
	padding: 0 10%;
	margin-bottom: 50px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-group {
	display: flex;
	align-items: center;
	width: 70%;
}

.form-control {
	border: 1px solid #000;
}

#checkbox {
	width: 20px;
	height: 20px;
}

.btn-secondary {
	background-color: #5e493b !important;
	border: solid 1px #5e493b;
	width: 20%;
}

.btn-secondary:hover {
	background-color: #3f3127 !important;
	border: solid 1px #3f3127;
}

/* Newsletter end */
html {
	position: relative;
	min-height: 100%;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	/* Set the fixed height of the footer here */
	background-color: #f5f5f5;
	line-height: 50px;
	/* Vertically center the text there */
	color: grey;
	text-align: center;
	margin-top: 100px;
}
#socialLinks {
	padding: 50px 15%;
	background-color: #ffffff;
	color: #000000;
}
#bottomFooter {
	background-color: #604126;
	color: #f5f5f5;
}
.socialsAlinks {
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	text-align: left;
}
.socialsAlinks:hover {
	color: #614124 !important;
}
.linksList {
	line-height: 20px;
	list-style: georgian;
}
.socialsAlinkspics {
	width: 25px;
}
.socialsAlinkspicslinks {
	text-decoration: none;
}
.CampaignPics {
	width: 100px;
	margin-top: 4px;
}

@media only screen and (max-width: 600px) {
	.footer {
		font-size: 10px;
		/*this stops the text overflowing at small sizes*/
	}
}

/* Media Queries */

@media only screen and (max-width: 992px) {
	.navbar-brand {
		text-align: left;
	}
	/*@media carousel start*/

	.info-grid {
		grid-template-columns: 1fr;
	}

	.right {
		grid-column-start: 1;
		grid-row-start: 1;
	}
	/*@media carousel end*/

	/* @media Information Section Start */
	.info-img {
		clip-path: circle(at 50% 50%);
	}
	/* @media Information Section End */

	#searchHide {
		display: none !important;
	}

	.info-img {
		width: 300px;
		height: auto;
		display: flex;
		margin: 0 auto;
	}

	.total-activities {
		grid-template-columns: repeat(2, 1fr);
	}
	/* @media Information Section End */

	/* @media Activities Section Start */

	.card {
		width: 100%;
	}
	#myInput {
		display: block;
		width: 100%;
		margin: 5% 0;
		padding: 2%;
	}
	/* @media Activities Section End */
}

@media only screen and (max-width: 768px) {
	.carouselSection {
		display: none;
	}
	.img-no-carousel {
		display: block;
		width: 100%;
		height: 300px;
	}
	/* @media Activities start */
	#myInput {
		display: block;
	}
	.total-activities {
		display: grid;
		grid-template-columns: 1fr;
		gap: 25px;
	}
	/* @media Activities end */
	/* @media Information Section Start */
	.info-grid {
		grid-template-columns: 1fr;
	}

	.right {
		grid-row: 1;
	}
}
